<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img style="border-radius: 50%" src="img/my_photo.jpg" alt="My picture" width="300" height="300">  
                <br><br><br>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">CONTACT INFORMATION</h2>
                <hr class="primary">
                <p><a href="mailto:yael.bshalom@gmail.com">yael.bshalom@gmail.com</a></p>
                <p>+1-(312)-560-6007</p>
                <br>
            </div>
            <div class="service-box">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 text-center">
                        <a href="mailto:yael.bshalom@gmail.com">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{  }}</p>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                        <a href="https://www.linkedin.com/in/yael-ben-shalom-21521410a/" target="_blank">
                            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                        <a href="https://github.com/{{ site.github_username }}" target="_blank">
                        <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                    <div class="col-xs-3 col-sm-3 text-center">
                        <a href="https://www.facebook.com/yael.b.shalom.7/" target="_blank">
                            <i class="fa fa-facebook-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                            <p>{{   }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
