<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#project1" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/1.gif" class="img-responsive" alt="Project 1">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Recycler Baxter - Work in Progress
                            </div>
                            <div class="project-category text-faded">
                                Using computer vision and motion planning to make Baxter sort cans and bottles for recycling
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project2" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/2.gif" class="img-responsive" alt="Project 2">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Mobile Manipulation
                            </div>
                            <div class="project-category text-faded">
                                Applying feedback control to make a mobile manipulator to pick up a block at a specified location and carry it to desired location
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project3" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="Project 3">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robot Navigation and Control
                            </div>
                            <div class="project-category text-faded">
                                Building a wheeled robot and programming it to navigate autonomously through an obstacle course
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project4" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="Project 4">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Rapidly-Exploring Random Tree (RRT)
                            </div>
                            <div class="project-category text-faded">
                                Implementing Rapidly-Exploring Random Tree (RRT) - path planning algorithm
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project5" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/5.gif" class="img-responsive" alt="Project 5">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Robotic Arm Control Using Computer Vision Perception
                            </div>
                            <div class="project-category text-faded">
                                Programming robotic arm to identify and "steal" a pen using 3D camera and image recognition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project6" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/6.gif" class="img-responsive" alt="Project 6">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Maze Implementation and Exploration
                            </div>
                            <div class="project-category text-faded">
                                Generating, solving and visualizing a maze
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#project7" class="portfolio-box" tabindex="-1" role="dialog" aria-hidden="true" data-toggle="modal">
                    <img src="img/portfolio/7.gif" class="img-responsive" alt="Project 7">
                    <span class="link-spanner"></span>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Jack-in-a-Box Dynamic Simulation
                            </div>
                            <div class="project-category text-faded">
                                Simulating the dynamics of a Jack-in-a-Box system
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>